<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Palanquin&display=swap" rel="stylesheet">
    <title>Perfil del Usuario</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        if(window.localStorage.getItem('token') === " "){
            console.log('todavia no hay token xd')
        }else{
        console.log(axios)
        axios.get('http://localhost:5000/auth', {
            headers: {
                'Authorization': `token: ${window.localStorage.getItem('token')}`
            }
        })
        .then((res) => {
            console.log("Success ahhhh")
            //res.render('profile.ejs',{token: null, nombre: user.nombre, apellido: user.apellido, puesto: null, email: null})
        })
        .catch((error) => {
        console.error(error) //render login
        })}
    </script>
    <style>
    body{
    background: #dbefed;
    }
    .navbar{
        font-family: Palanquin;
    }
    .emp-profile{
        padding: 3%;
        margin-top: 3%;
        margin-bottom: 3%;
        border-radius: 0.5rem;
        background: #fff;
    }
    .profile-img{
        text-align: center;
    }
    .profile-img img{
        width: 70%;
        height: 20%;
    }
    .profile-img .file {
        position: relative;
        overflow: hidden;
        margin-top: -60%;
        width: 57%;
        border: none;
        border-radius: 0;
        font-size: 15px;
        background: #212529b8;
    }
    .profile-img .file input {
        position: absolute;
        opacity: 0;
        right: 0;
        top: 0;
    }
    .profile-head h5{
        color: #333;
    }
    .profile-head h6{
        color: #0062cc;
    }
    .profile-edit-btn{
        border: none;
        border-radius: 1.5rem;
        width: 70%;
        padding: 2%;
        font-weight: 600;
        color: #6c757d;
        cursor: pointer;
    }
    .proile-rating{
        font-size: 12px;
        color: #818182;
        margin-top: 5%;
    }
    .proile-rating span{
        color: #495057;
        font-size: 15px;
        font-weight: 600;
    }
    .profile-head .nav-tabs{
        margin-bottom:5%;
    }
    .profile-head .nav-tabs .nav-link{
        font-weight:600;
        border: none;
    }
    .profile-head .nav-tabs .nav-link.active{
        border: none;
        border-bottom:2px solid #0062cc;
    }
    .profile-work{
        padding: 14%;
        margin-top: -15%;
    }
    .profile-work p{
        font-size: 12px;
        color: #818182;
        font-weight: 600;
        margin-top: 10%;
    }
    .profile-work li{
        text-decoration: none;
        color: #495057;
        font-weight: 600;
        font-size: 14px;
    }
    .profile-work ul{
        list-style: none;
    }
    .profile-tab label{
        font-weight: 600;
    }
    .profile-tab p{
        font-weight: 600;
        color: #0062cc;
    }
    .icon-list {
    padding-left: 0;
    list-style: none;
    }
    .icon-list li {
    display: flex;
    align-items: flex-start;
    margin-bottom: .25rem;
    }
    .icon-list li::before {
    display: block;
    flex-shrink: 0;
    width: 1.5em;
    height: 1.5em;
    margin-right: .5rem;
    content: "";
    background: url("/images/medal.png") no-repeat center center / 100% auto;
    }
    </style>
    
  </head>
  <body>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->

    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/homepage">
            <img src="/images/Logo.png" alt="" width="50" height="50" class="d-inline-block align-text-middle">
            Get constructive</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/homepage#Description">Descripción</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/homepage#Play">Como Jugar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/videogame">Videojuego</a>
              </li>
              <!--
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Acerca de Nosotros </a>
              </li>-->
            </ul>
            <div class="flex-shrink-0 dropdown">
              <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="/images/user_pic.png" alt="mdo" width="32" height="32" class="rounded-circle">
              </a>
              <ul class="dropdown-menu dropdown-menu-end text-small shadow" aria-labelledby="dropdownUser2">
                <li><a class="dropdown-item disabled" href="#">Perfil</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/login">Cerrar sesión</a></li>
              </ul>
            </div>
            
          </div>
        </div>
    </nav> 

    <div class="container emp-profile">
        <form method="post">
            <div class="row">
                <div class="col-md-3">
                    <div class="profile-img">
                        <img src="/images/user_pic.png" alt=""/>
                        
                    </div>
                </div>
                <div class="visually-hidden" id="kpi"> <%- kpi%> </div>
                <div class="visually-hidden" id="token"> <%- token%> </div>
                <div class="visually-hidden" id="user_id"> <%- id %> </div>




                <div class="col-md-6">
                    <div class="profile-head">
                                <h5>
                                    <%- nombre%> <%- apellido%> 
                                </h5>
                                <h6>
                                    <%- puesto%>
                                </h6>
                                <p class="proile-rating">NIVEL DE JUEGO: <span>4</span></p>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Acerca de</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Tareas</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--
                <div class="col-md-2">
                    <button class="profile-edit-btn" value="Edit Profile" data-bs-toggle="modal" data-bs-target="#exampleModal">Editar Perfil</button>
                
                </div>-->
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-work">
                        <p>WORK LINK</p>
                        <a class="link-secondary fw-bold" href="https://www.atlassian.com/es/software/jira">Jira Software</a><br/>
                        <a class="link-secondary fw-bold" href="https://github.com/">Github</a>
                        <p>MEDALLAS</p>
                        <ul class="icon-list">
                            <li>Primer edificio</li>
                            <li>Conseguiste tu primer bono</li>
                            <li>Desbloqueo de Edificios</li>
                            <li>Primera ciudad completada</li>
                        </ul>

                    </div>
                </div>
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Núm. de Nómina</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>PF0076</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Nombre</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p> <%- nombre%> <%- apellido%></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Correo Electrónico</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>  <%- email%>  </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Departamento</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>TI </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Puesto</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p> <%- puesto%></p>
                                        </div>
                                    </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                        <!--Div that will hold the pie chart-->
                        <div class="container" style="align-items: center; flex-direction: row;"  >
                            <p> KPI: On time Completion %</p>
                        <div id="chart_div">

                        </div>

                        </div>

                        <p style="padding-top: 5%;"> Tareas del Usuario</p>

                                   
                        </div>
                    </div>
                </div>
            </div>
        </form>           
    </div>
  </body>
<script>

    //Obtener el token y Id del empleado del DOM, y los guarda en el localStorage
    let token = document.getElementById('token').innerText
    window.localStorage.setItem("token", token)

    let id = document.getElementById('user_id').innerText
    window.localStorage.setItem("id", id)

    //Obtener la info de Tareas y desplegarlas en el DOM
    fetch(`http://localhost:5000/tareas/${id}`).then(
        res => {
            res.json().then(
                data => {
                    console.log(data);
                    if(data.length > 0){
                        var temp = "";
                        //empezar el loop

                        data.forEach(u => {
                            //Crea <div class="row">
                            var div1 = document.createElement('div');
                            div1.classList.add("row");

                            //Crea <div class="col-md-6">
                            var div2 = document.createElement('div');
                            div2.classList.add("col-md-6")

                            div1.appendChild(div2);
                            //Crea <label> 
                            var nombre = document.createElement('label');
                            nombre.textContent = u.descripcion;
                            div2.appendChild(nombre);

                            //Crea <div class="col-md-6">
                            var div3 = document.createElement('div');
                            div3.classList.add("col-md-6")
                            div3.id = "id_tarea_" + u.id
                            div1.appendChild(div3);

                            var valor = "";
                            var color = "";
                            switch(u.id_estatus){
                                case 1:
                                    valor = "6.25";
                                    color = "bg-danger";
                                    break;
                                case 2:
                                    valor = "12.5";
                                    color = "bg-danger";
                                    break;
                                case 3:
                                    valor = "18.75";
                                    color = "bg-danger";
                                    break;
                                case 4:
                                    valor = "25";
                                    color = "bg-danger";
                                    break;
                                case 5:
                                    valor = "31.25";
                                    color = "bg-danger";
                                    break;
                                case 6:
                                    valor = "37.5";
                                    color = "bg-warning";
                                    break;
                                case 7:
                                    valor = "43.75";
                                    color = "bg-warning";
                                    break;
                                case 8:
                                    valor = "50";
                                    color = "bg-warning";
                                    break;
                                case 9:
                                    valor = "56.25";
                                    color = "bg-warning";
                                    break;
                                case 10:
                                    valor = "62.5";
                                    color = "bg-warning";
                                    break;
                                case 11:
                                    valor = "68.75";
                                    color = "bg-success";
                                    break;
                                case 12:
                                    valor = "75";
                                    color = "bg-success";
                                    break;
                                case 13:
                                    valor = "81.25";
                                    color = "bg-success";
                                    break;
                                case 14:
                                    valor = "87.5";
                                    color = "bg-success";
                                    break;
                                case 15:
                                    valor = "93.75";
                                    color = "bg-success";
                                    break;
                                case 16:
                                    valor = "100";
                                    color = "bg-success";
                            }

                            var estado = u.estado;
                            //Crea la progress bar 
                            var progress = "";
                            progress += `<label class="fst-italic">${estado}</label>`
                            progress += '<div class="progress">';
                            progress += `<div class="progress-bar ${color}" role="progressbar" style="width: ${valor}%;" aria-valuenow="${valor}" aria-valuemin="0" aria-valuemax="100"></div>`;
                            progress += '</div>';
                            document.getElementById('profile').appendChild(div1);
                            
                            var idT = u.id
                            document.getElementById(`id_tarea_${idT}`).innerHTML = progress;
                            
                        });

                        
                    }
                }
            )
        }
    )
</script>
<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['gauge']});
  google.charts.setOnLoadCallback(drawChart);

  //document.addEventListener("DOMContentLoaded", (_event) => {

    
        function drawChart() {

            let kpi = parseInt(document.getElementById('kpi').innerText)
            console.log(kpi)

            var data = google.visualization.arrayToDataTable([
            ['Label', 'Value'],
            ['.', kpi]
            ]);

            var options = {
            width: 400, height: 190,
            greenFrom: 54, greenTo: 90,
            yellowFrom: 36, yellowTo: 54,
            redFrom: 0, redTo: 36,
            minorTicks: 5
            };

            var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

            chart.draw(data, options);
        }  
       

   // });


</script>


</html>